<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova.plugin.procManager" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Exec</name>
  <description>Cordova Plugin to manage processes</description>
  <license>Apache 2.0</license>
  <keywords>cordova,process,command</keywords>
  <js-module name="procManager" src="www/procManager.js">
    <clobbers target="procManager"/>
  </js-module>
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.GET_TASKS" />
      <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
      <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
      <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    </config-file>

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="procManager">
        <param name="android-package" value="cordova.plugin.procManager"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/cordova/plugin/procManager.java" target-dir="src/cordova/plugin/procManager" />
  </platform>
</plugin>
